.OneGame {
    padding-top: 100px;
    padding-left: 69px;
    height: 100vh;
}

.oneGame__header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 40px 130px 40px 10px;
}   

.oneGame__title {
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.oneGame__block {
    display: flex;
}

.oneGame__main__img {
    width: 692px;
    height: 420px
}

.oneGame__imgs {
    display: flex;
    margin-top: 15px;
}

.oneGame_img__active {
    width: 85px;
    height: 67px;
    object-fit:cover;
    margin-left: 27px;
    cursor: pointer;
    border: 2px solid yellow;
}

.oneGame_img {
    width: 85px;
    height: 67px;
    object-fit:cover;
    margin-left: 27px;
    cursor: pointer;    
}

.oneGame__block__arrow__left {
    position: relative;
    margin-top: 9px;
    width: 49px;
    height: 49px;
    background: #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
}

.oneGame__arrow__left {    
    position: absolute;
    top: 7%;
    left: 28%;
    width: 20px;
    height: 20px;
    color:white;
    font-size: 24px;
    font-weight: 500;
    
}

.oneGame__block__arrow__right {
    position: relative;
    margin-top: 9px;
    margin-left: 14px;
    width: 49px;
    height: 49px;
    background: #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
}

.oneGame__arrow__right {
    position: absolute;
    top: 6%;
    left: 34%;   
    width: 20px;
    height: 20px;
    color:white;
    font-size: 24px;
    font-weight: 500;
}
/* Description game*/
.oneGame__block__description {
    margin-left: 18px;
}

.oneGame__description__img {
    width: 364px;
    height: 181px;
    object-fit:cover;
}

.oneGame__price {
    margin-top: 13px;
    margin-bottom: 8px;
    color: white;
    font-size: 16px;    
}

.oneGame__block__Button {
    display: block;
}

.oneGame__buyButton {
    width: 364px;
    height: 54px;
    border-radius: 5px;
    background: #07C99A;
    border: 0;
    font-size: 16px;    
    line-height: 19px;
    color:white;
    text-transform: uppercase;
    margin-bottom: 11px;    
}

.oneGame__block__info {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 9px;
}

.oneGame__line {
    width: 365px;
    height: 0px;
    border: 1px solid #B9B9B9;
    margin-bottom: 9px;
}