.search {
    position: absolute;
    width: 484px;
    height: auto;
    left: 372px;
    top: 116px;
    
    background: rgba(22, 20, 20, 0.98);
    padding-left: 12px;
    padding-top: 16px;
    padding-bottom: 10px;
}

.search__game__img {
    width: 130px;
    height: 53.18px;
    object-fit:cover;
}

.search__game__nameGame {
    color: white;
    margin-left: 5px;
}

.search__game__price {
    color: white;
}

.search__game__block {
    margin-top: 13px;
    display: flex;
    margin-bottom: 11px;
}

.search__line {
    width: 463px;
    height: 0px;
    border: .5px solid #153242;    
    margin-right: 9px;
}

